{% load staticfiles %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <title>NOTES</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'notes/css/style.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'notes/jquery/jquery.min.3.3.1.js' %}"></script>
        <script src="{% static 'notes/javascript/main.js' %}"></script>
        <script src="{% static 'notes/jquery/jquery.sidenav.js' %}"></script>
        {% block head %} {% endblock head %}
    </head>
    <body>

    </body>
</html>