{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block page_title %}NOTES{% endblock page_title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'notes/css/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'notes/css/switch-check.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'notes/css/sticky-search-bar.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'notes/jquery/jquery.min.3.3.1.js' %}"></script>
        <script src="{% static 'notes/javascript/main.js' %}"></script>
        <script src="{% static 'notes/jquery/jquery.sidenav.js' %}"></script>
        {% block head %}{% endblock head %}
    </head>
    <script>
    $(document).ready(function(){
        {% for note in notes %}
            $("#{{ note.id }}note-title").click(function(){
                $("#{{ forloop.counter0 }}note-content").fadeToggle(200);
            }
            );
        {% endfor %}
    });
    </script>

    <body>
        <div id="navbar">
            <form id="form" class="example" action="{% url 'search_view' %}" method="POST"> {% csrf_token %}
                <input type="text" placeholder="Search.." name="search" required>
                <button type="submit"><i>SearchMe!</i></button>
            </form>
        </div>
        <label class="switch">
            <input type="checkbox" checked id="close">
            <span class="slider"></span>
        </label>
        <div class="sidenav" id="sidenav">
            <div id="category" onclick="document.location.href='/'">
                {% csrf_token %}
                <div id="cat-link">Home Page</div>
            </div>
            {% for cat in categories %}
                <div id="category" onclick="document.location.href='{% url 'category_view' cat.id %}'">
                    <div id="icon">
                        {% if cat.icon %}
                            <img src="{{ cat.icon.url }}">
                        {% else %}
                            <img src="{% static 'notes/images/no-image.jpeg' %}" title="no icon">
                        {% endif %}
                    </div>
                    <div id="cat-link">
                        {{ cat.title }}({{ cat.note_set.all.count }})
                    </div>
                </div>
            {% endfor %}
            {% block sidenav %}{% endblock sidenav %}
        </div>

        <div class="main" id="main">
            <h5>{% block cat_title %} Last Notes {% endblock cat_title %}</h5>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filter title notes.." title="Type in a text">
            <ul id="myUL">
                {% for note in notes %}
                    <li id="{{ note.id }}note-title">
                       <div>
                           {{ forloop.counter }}. {{ note.title }}
                           <span style="color: cadetblue; font-size: 10px">
                               {% if cat_title %}
                                   [{{ note.date|date }}]
                               {% else %}
                                   [{{ note.category.title }}]
                               {% endif %}
                            </span>
                       </div>
                    </li>
                    <span hidden id="{{ forloop.counter0 }}note-content">{{ note.content | linebreaks}}</span>
                {% endfor %}
            </ul>
            {% block main %}{% endblock main %}
        </div>
    {% block content %}{% endblock content %}
    </body>
</html>
