#navbar {
    margin-left: 250px;
}

#form.example input[type=text] {
    padding: 5px;
    border: none;
    background-color: #f1f1f1;
}

#form.example button {
    padding: 5px;
    background: #000000;
    color: #f3d400;
    border: none;
    cursor: pointer;
}

#form.example button:hover {
    background: #f3d400;
    color: black;
}

