body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav #category{
    width: 250px;
    height: 50px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10%;
    transition: 0.5s;
}
.sidenav #category:hover{
    background-color: #494949;
    cursor: pointer;
    box-shadow: 0 0 9px 6px #000000;
    transition: 0.5s;
}
.sidenav #category #icon img{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    width: 50px;
}
.sidenav #category #cat-link{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #bababa;
}
.sidenav #category #cat-link:hover{
    color: whitesmoke;
}
.main {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


#myInput {
    background: url('../images/searchicon.png') no-repeat 10px 12px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li div {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f4f2ed;
  padding: 12px;
  text-decoration: none;
  font-size: 80%;
  color: black;
  display: block;
}

#myUL li div:hover{
    cursor: pointer;
    background-color: #fffdf8;
}

